@import '../Variables.scss';

.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 7rem;
  gap: 3rem;
  width: 90vw;

  &_slider {
    max-width: 100%;

    @media (min-width: 768px) {
      margin: 0 auto;
      width: 60%;
    }

    &--slide {
      display: flex;
      justify-content: center;
      @media (min-width: 1024px) {
        margin: 0 auto;
        width: 80%;
      }
    }
    &--img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      border: 4px solid $primary-color;
      box-sizing: border-box;
      margin: auto;
    }
  }
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  font-size: 2rem;
  border-radius: 50%;
  color: $primary-color;
  display: none;
  @media (min-width: 768px) {
    display: inline;
  }
}

.custom-prev {
  left: -3rem;
}

.custom-next {
  right: -3rem;
}
