.carouselContainer {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 7rem;
  gap: 3rem;
  width: 90vw;

  &_slider {
    max-width: 100%;
    display: flex;
    justify-content: center;
    &--slide {
      display: flex;
      justify-content: center;
    }
    &--img {
      max-width: 100%;
      height: auto;
    }
  }
}
