.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 7rem;
  gap: 3rem;
  width: 90vw;

  &_slider {
    max-width: 100%;
    @media (min-width: 768px) {
      margin: 0 auto;
      width: 60%;
    }

    &--slide {
      display: flex;
      justify-content: center;
    }
    &--img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      border: 4px solid $primary-color;
      box-sizing: border-box;
    }
  }
}
