@import '../Variables.scss';

.myStoreContainer {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  width: 100%;
  gap: 2rem;
  &_title {
    display: flex;
    font-family: $font-family;
    font-size: 2rem;
    width: 100%;
    justify-content: center;
    color: $black-color;
  }
  &_resume {
    font-family: $font-family;
    color: $black-color;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.5rem;
  }
  &_skillsTitle {
    font-family: $font-family;
    color: $black-color;
    margin-left: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: -1rem;
  }
  &_skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    flex-direction: row;

    &--icon {
      width: 3rem;
    }
  }
  &_link {
    margin: auto;
    width: 130px;
    height: 30px;
    background-color: $primary-color;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    &--btn {
      margin: auto;
      width: 130px;
      height: 30px;
      background-color: $primary-color;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      color: white;
    }
    &--icon {
    }
  }
  &_img {
  }
}
