.landingPage {
  width: 100vw;
  height: 100vh;
  position: sticky;
  background-image: url(../../img/fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
