@import '../Variables.scss';

.section3Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 15px 0 15px 0;
  &_btn {
    width: 130px;
    height: 30px;
    background-color: $primary-color;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    &--link {
      text-decoration: none;
      color: white;
    }
    &--link:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }
  &_btn:hover {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
  }
}
