@import '../Variables.scss';

.sectionMyProjectsContainer {
  min-height: 100px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  &_title {
    font-family: $font-family;
    color: $black-color;
    font-size: 1.4rem;
    font-weight: 600;
    width: 18rem;
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
  }
  &_article {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 15rem;
    gap: 10px;

    &--block {
      height: 3.8rem;
      width: 100%;
      border: 2px solid $primary-color;
      border-radius: 10px;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      @media (min-width: 768px) {
        width: 83%;
      }
    }
    &--blockImg {
      width: 6.4rem;
      height: 4.3rem;
      border-radius: 10px;
      border: 1px solid $primary-color;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
      transform: translateY(-4px);
    }
    &--blockName {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      font-family: $font-family;
      font-weight: 600;
      font-size: 1rem;
      color: $primary-color;
    }
    &--blockInfo {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      font-size: 0.9rem;
      font-family: $font-family;
      color: $primary-color;
    }
    &--btn {
      background-color: transparent;
      border-radius: 20px;
      border: 1px solid $primary-color;
      color: $primary-color;
      height: 30px;
      width: 130px;
    }
    &--btn:hover {
      color: white;
      background-color: $primary-color;
    }
    &--btnLink {
      text-decoration: none;
    }
    &--btnLink:hover {
      color: white;
    }
  }
}
@media (min-width: 768px) {
  .sectionMyProjectsContainer_article:nth-child(even) {
    margin-left: auto;
  }
  .sectionMyProjectsContainer_article--btnLink:nth-child(even) {
    margin-left: 8rem;
  }
  .sectionMyProjectsContainer_article {
    border-bottom: 2px solid $primary-color;
    padding: 2rem;
    width: 80%;
    &--block {
      border: none;
      height: 9rem;
    }
    &--blockImg {
      grid-column-start: 2;
      grid-column-end: 3;
      width: 100%;
      height: 10rem;
      border-radius: 0px;
    }
    &--blockName {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 10rem;
    }
    &--blockInfo {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 10rem;
      transform: translateY(-1.8rem);
    }
  }
  .sectionMyProjectsContainer_article:nth-child(odd) {
    margin-right: auto;
    .sectionMyProjectsContainer_article {
      &--block {
        border: none;
      }
      &--blockImg {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      &--blockName {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: 1rem;
      }
      &--blockInfo {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: 1rem;
        transform: translateY(-1.8rem);
      }
      &--btnLink {
        margin-right: 16rem;
      }
    }
  }
  .sectionMyProjectsContainer_title {
    margin-left: 10rem;
  }
}

@media (min-width: 1024px) {
  .sectionMyProjectsContainer_article:nth-child(even) {
    margin-left: auto;
  }
  .sectionMyProjectsContainer_article--btnLink:nth-child(even) {
    margin-left: 8rem;
  }
  .sectionMyProjectsContainer_article {
    border-bottom: 2px solid $primary-color;
    padding: 2rem;
    width: 80%;
    &--block {
      border: none;
      height: 12rem;
    }
    &--blockImg {
      grid-column-start: 2;
      grid-column-end: 3;
      width: 400px;
      height: 200px;
      border-radius: 0px;
    }
    &--blockName {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 11.5rem;
      font-size: 1.5rem;
    }
    &--blockInfo {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 11.5rem;
      transform: translateY(-2rem);
      font-size: 1rem;
    }
  }
  .sectionMyProjectsContainer_article:nth-child(odd) {
    margin-right: auto;
    .sectionMyProjectsContainer_article {
      &--block {
        border: none;
      }
      &--blockImg {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      &--blockName {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: 1rem;
      }
      &--blockInfo {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: 1rem;
      }
      &--btnLink {
        margin-right: 16rem;
      }
    }
  }
  .sectionMyProjectsContainer_title {
    margin-left: 10rem;
  }
}
