$primary-color: #027373;
$primary-color-2: #04acac;
$primary-color-3: #a5d9d9;
$secondary-color: #d95252;
$secondary-color-2: #e07373;
$secondary-color-3: #e8b7b7;
$tertiary-color: #f2dc5d;
$tertiary-color: rgba(242, 220, 93, 0.5);

$black-color: #1d3131;
